<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015. Hoomi, Inc.
  -->

<manifest
    package="co.hoomi.yesyoo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name="co.hoomi.yesyoo.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="co.hoomi.yesyoo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:logo="@drawable/hn_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="co.hoomi.HoomiLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="login"
                    android:scheme="yesyoo"/>
            </intent-filter>
        </activity>
        <activity
            android:name="co.hoomi.yesyoo.DataListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_data_list"
            android:logo="@drawable/hn_logo">
        </activity>
    </application>

</manifest>
